<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS0Ap6d3LlaqhQJqATIHYa-UoX-L5kC5E</string>
	<key>GCM_SENDER_ID</key>
	<string>243569805021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cibertec.edu.pe.CL3-ReyesRenzo</string>
	<key>PROJECT_ID</key>
	<string>final-examen-36a8b</string>
	<key>STORAGE_BUCKET</key>
	<string>final-examen-36a8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243569805021:ios:981083c9782004c4dcfd34</string>
</dict>
</plist>